<div class="mePage parallax">
	<div class="slide header" id="title">
		<h1>Ryan Murray</h1>
		<h3>Software Engineer</h3>
	</div>

	<div class="slide" id="slide1">
		<div class="title">
			<h1>Currently</h1>
			<p>
				I am currently working in Web Development where I enjoy getting to see the work I do come to life immediately. 
				While I love the front end, I am interested in getting into a position where I can also begin to develop my back end skills
				in an effort to attain the elusive "full stack" developer status.
			</p>
		</div>
	</div>

	<div class="slide" id="slide2">
		<div class="title">
			<h1>Experience</h1>
			<p onclick="addClass($(this));">
				For the past two years I have been working with Zoovy, Inc. building Single Page Rich Internet Applications. 
				Building these applications has giving me a proficiency in Javascript, JQuery, HTML5, and CSS3, and JSON
				as well as allowed me to gain experience using Node.js, Elastic Search, Responsive Design, SEO Practices,
				and version tracking using Git. 
			</p>
		</div>
		<div class="skills sprite javascript"></div>
		<div class="skills sprite jquery"></div>
		<div class="skills sprite html5"></div>
		<div class="skills sprite css3"></div>
		<div class="skills sprite responsive"></div>
		<div class="skills sprite git"></div>	
		<div class="skills sprite nodejs"></div>
		<div class="skills sprite elasticsearch"></div>
		<div class="skills sprite seo"></div>
		<!--
		<img src="http://lorempixel.com/output/abstract-q-c-640-480-6.jpg">
		<img src="http://lorempixel.com/output/abstract-q-c-640-480-4.jpg"> 
		-->
	</div>

	<div class="slide" id="slide3">
		<div class="title">
			<h1>Education</h1>
			<p>
				I graduated from DeVry University, Magna Cum Laude, with a B.S. in computer Engineering Technology. 
				While working toward my degree I worked on projects and assignments using Java, C&#47;C++, Oracle SQL, VHDL,
				Embedded Code, MATLAB and Multisim. 
			</p>
			<div class="skills skillsRight sprite java"></div>
			<div class="skills skillsRight sprite android"></div>
			<div class="skills skillsRight sprite cplusplus"></div>
			<div class="skills skillsRight sprite oraclesql"></div>
			<div class="skills skillsRight sprite vhdl"></div>
			<div class="skills skillsRight sprite embedded"></div>
		</div>
	</div>
	
	<div class="slide slide4">
		<div class="title">
			<h1>Before all that...</h1>
			<p>
				Prior to my Engineering career, I worked in Print and Graphic Design for over a decade. A strong knowledge of production
				tracking and quality assurance were necessary to ensure that a quality product was delivered for every project. In addition to
				running print production, I also did graphic design and layout where I become accomplished using Adobe Photoshop, Illustrator,
				InDesign, and Acrobat. 
			</p>
			<div class="skills sprite photoshop"></div>
			<div class="skills sprite illustrator"></div>
			<div class="skills sprite indesign"></div>
			<div class="skills sprite acrobat"></div>
			<div class="skills sprite msoffice"></div>
			<div class="skills sprite windows"></div>
			<div class="skills sprite apple"></div>
		</div>
	</div>

	<div class="slide header" id="slide5">
		<h3>If you have project or a position<br>that you think I would be a good fit for,<br>please reach out and let me know</h3>
		<a href="https://plus.google.com/106139086974881828865/posts" target="_blank" class="sprite socialIcon gplus"></a>
		<a href="mailto:rmurray3420@gmail.com" target="_blank" class="sprite socialIcon mail"></a>
		<a href="https://www.linkedin.com/in/murrayryan/" target="_blank" class="sprite socialIcon li"></a>
	</div>
</div>