<div class="accordion">
	<div class="label orbitron pointer" data-ng-click="accordion($event);">
		Zoovy, Inc.
		<div class="text" data-accordion="content">
			<img class="fluidImg" data-ng-src="images/accolades/zoovy.jpg" alt="Zoovy letter of recomendation" width=1651 height=1275>
		</div>
	</div>
	<div class="label orbitron pointer" data-ng-click="accordion($event);">
		DeVry University
		<div class="text" data-accordion="content">
			<img class="fluidImg" data-ng-src="images/accolades/devry.jpg" alt="DeVry University letter of recomendation" width=1651 height=1275>
		</div>
	</div>
	<div class="label orbitron pointer" data-ng-click="accordion($event);">
		MLD Graphics, Inc.
		<div class="text" data-accordion="content">
			<img class="fluidImg" data-ng-src="images/accolades/mld.jpg" alt="MLD Graphics letter of recomendation" width=1651 height=1275>
		</div>
	</div>
</div>