<div class="content" data-transition="footer">
			<div class="nav"></div>
			<div class="summary">
				See a view of the index for each application, with responsive views if applicable. 
				<br>Each image links to the live site &#40;if available&#41;.
				<br>Get a description of the site and its distinctive features and, link to its GitHub repository.
			</div>
			<div data-ng-repeat="sample in samples" class="siteContainer desktop" data-transition="parent">
				<h2 class="pointer orbitron" data-trans="dropdown" data-marker="transitioned" data-container="footer" data-container-trans="active" data-ng-click="screenTransition($event);">{{sample.id}}</h2>
				<div class="responsiveIconCont">
					<div class="deskIcon sprite" data-ng-class="{'pointer':sample.tresponsive}" data-transition="desktop" data-remove="desktop|tablet|mobile" data-ng-click="toggleGroup($event);"></div>
					<div class="tabletIcon sprite" data-ng-class="{'pointer':sample.tresponsive}" data-ng-show="{{sample.tresponsive}}" data-transition="tablet" data-remove="desktop|tablet|mobile" data-ng-click="toggleGroup($event);"></div>
					<div class="mobileIcon sprite" data-ng-class="{'pointer':sample.mresponsive}" data-ng-show="{{sample.mresponsive}}" data-transition="mobile" data-remove="desktop|tablet|mobile" data-ng-click="toggleGroup($event);"></div>
				</div>
				<div class="deskSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" data-ng-src="./images/{{sample.deskimg}}" alt="{{sample.client}} desktop sample image">
						</a>
					</div>
				</div>
				<div class="tabletSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" data-ng-src="./images/{{sample.tabletimg}}" alt="{{sample.client}} tablet sample image">
						</a>
					</div>
				</div>
				<div class="mobileSample">
					<div class="hideImg">
						<a href="{{sample.href}}" target="_blank">
							<img class="fluidImg" data-ng-src="./images/{{sample.mobileimg}}" alt="{{sample.client}} mobile sample image">
						</a>
					</div>
				</div>
				<div class="descriptionCont">
					<ul>
						<li><a href="{{sample.github}}" target="_blank" class="github sprite"></a></li>
						<li><span>Client&#58; </span>{{sample.client}}</li>
						<li><span>Business Type&#58; </span>{{sample.businesstype}}</li>
						<li><span>Skills&#58; </span>{{sample.skills}}</li>
					</ul>
					<div class="horizSeperate"></div>
					<div class="description">
						<p>{{sample.description1}}</p>
						<p>{{sample.description2}}</p>
					</div>
				</div>
			</div>
		</div>